:root {
    scroll-behavior: smooth;
    --bg_color: #ede3e7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(../asserts/img/bright-squares.png);
    transition: background-color 2s ease-in;
    background-color: var(--bg_color);
    font-family: Georgia, serif;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    margin-bottom: 1em;
    font-size: 40px;
    font-weight: bold;
    color: #212121;
}

p {
    /* font-size: 20px; */
    font-size: 1.6vh;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    margin-bottom: 1.5vh;
    /* font-weight: bold; */
}

a {
    color: #8a6913;
    text-decoration: none;
}

a:hover {
    color: #10aec2;
    text-decoration: underline;
}

hr {
    border: 0;
    border-top: 1px solid #212121;
}

#Top {
    position: absolute;
    width: 100%;
    height: 25%;
    top: 0px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

#bg_img {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    filter: sepia(90%);
    background-image: url(../asserts/img/about_top_bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 60%;
    background-attachment: fixed;
    overflow: hidden;
}

/* #bg_img img {
    position: relative;
    width: 100%;
    top: -100%;
    filter: sepia(90%);
    background-attachment: fixed;
} */

#intro {
    position: absolute;
    display: flex;
    padding-top: 1em;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1em;
    bottom: 10%;
    right: 0%;
    width: 50%;
    height: auto;
    text-align: center;
    align-items: center;
    background-color: #21212190;
}

#typing-text {
    position: relative;
    top: 0.50em;
    font-size: 2vh;
    color: #ede3e7;
}

#typing-text::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 1em;
    margin-bottom: -2px;
    margin-left: -2px;
    background-color: #ede3e7;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

#myPhoto {
    position: absolute;
    padding: 10px;
    margin: 3% 6%;
    width: 12%;
    top: 30%;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

#myPhoto img {
    position: relative;
    width: 100%;
}

#sideBar {
    padding: 1%;
    position: fixed;
    top: 25%;
    right: 0;
    width: 13%;
    height: 35%;
    background-color: #575757;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    background-image: url(../asserts/img/asfalt-dark.png);
}

#sideBarContent {
    position: relative;
    text-align: left;
    align-items: center;
}

#sideBarContent p {
    color: #ede3e7;
}

#sideBarContent ul li a {
    color: #fc8c23;
}

#sideBarContent ul li a:hover {
    color: #10aec2;
}

#sideBarContent li {
    list-style: none;
}

#contact a {
    position: relative;
    display: flex;
    float: left;
    margin: 1vh 1vh;
    width: 3.5vh;
    height: 3.5vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    color: #ad9e5f;
}

#contact a .icon {
    font-size: 3.5vh;
    pointer-events: none;
}

#contact a:hover {
    transform: scale(1.2);
    color: #fc8c23;
}

#contact span p {
    color: #fc8c23;
}

#about {
    position: absolute;
    width: 70%;
    height: 40%;
    top: 25%;
    left: 15%;
    padding: 2% 10%;
    background-image: url(../asserts/img/bg_texture.png);
    background-color: #e9ddb6;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

#goToEduExp {
    position: absolute;
    margin-top: -100px;
    top: 75%;
    left: 15%;
}

#eduExp {
    position: absolute;
    width: 70%;
    height: 140%;
    top: 75%;
    left: 15%;
    padding: 3% 10%;
    background-image: url(../asserts/img/bg_texture.png);
    background-color: #e9ddb6;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

#goToDownload {
    position: absolute;
    margin-top: -100px;
    top: 185%;
    left: 15%;
}

#download {
    position: absolute;
    width: 70%;
    height: 25%;
    top: 225%;
    left: 15%;
    padding: 3% 10%;
    background-image: url(../asserts/img/bg_texture.png);
    background-color: #e9ddb6;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.description {
    font-size: 1.6vh;
    line-height: 1.5em;
    /* text-indent: 4em; */
    margin-left: 2em;
}

.dropcap:first-letter {
    float: left;
    font-size: 2em;
    letter-spacing: 0.1em;
    /* padding-right: 5px; */
    font-family: Georgia, sans-serif;
}

.end {
    float: right;
}

footer {
    position: absolute;
    width: 100%;
    height: 15%;
    left: 0;
    top: 250%;
    background-color: #212121;
}

footer p {
    margin-top: 3%;
    text-align: center;
    color: #ede3e7;
}