:root {
    scroll-behavior: smooth;
    --bg_color: #ede3e7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(../asserts/img/bg_texture.png);
    transition: background-color 2s ease-in;
    background-color: var(--bg_color);
    font-family: Georgia, serif;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    margin-bottom: 1em;
    font-size: 40px;
    font-weight: bold;
    color: #212121;
}

p {
    font-size: 20px;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    /* font-weight: bold; */
}

p a {
    color: #986814;
    text-decoration: none;
}

p a:hover {
    color: #069;
    text-decoration: underline;
}

hr {
    border: 0;
    border-top: 1px solid #212121;
}

#Top {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 10%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

#bg_img {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0%;
    filter: sepia(90%);
    background-image: url(../asserts/img/about_top_bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 60%;
    background-attachment: fixed;
    overflow: hidden;
}

/* #bg_img img {
    position: relative;
    width: 100%;
    top: -100%;
    filter: sepia(90%);
    background-attachment: fixed;
} */

#intro {
    position: absolute;
    display: flex;
    padding-top: 1em;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1em;
    top: 17%;
    right: 0%;
    width: 50%;
    height: auto;
    text-align: center;
    align-items: center;
    background-color: #21212190;
}

#typing-text {
    position: relative;
    top: 0.75em;
    font-size: 26px;
    color: #ede3e7;
}

#typing-text::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 1em;
    margin-bottom: -2px;
    margin-left: -2px;
    background-color: #ede3e7;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

#myPhoto {
    position: absolute;
    padding: 10px;
    margin: 3% 6%;
    width: 15%;
    top: -5%;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

#myPhoto img {
    position: relative;
    width: 100%;
}

#about {
    position: absolute;
    width: 70%;
    height: 60%;
    top: 30%;
    left: 15%;
    padding: 4% 10%;
    background-image: url(../asserts/img/block_texture.png);
    /* background-color: #e9ddb6; */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

#eduExp {
    position: absolute;
    width: 70%;
    height: 80%;
    top: 100%;
    left: 15%;
    padding: 3% 10%;
    background-image: url(../asserts/img/block_texture.png);
    /* background-color: #e9ddb6; */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

#project {
    position: absolute;
    width: 70%;
    height: 60%;
    top: 190%;
    left: 15%;
    padding: 3% 10%;
    background-image: url(../asserts/img/block_texture.png);
    /* background-color: #e9ddb6; */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

#contact {
    position: absolute;
    width: 70%;
    height: 60%;
    top: 260%;
    left: 15%;
    padding: 3% 10%;
    background-image: url(../asserts/img/block_texture.png);
    /* background-color: #e9ddb6; */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.dropcap:first-letter {
    float: left;
    font-size: 2em;
    letter-spacing: 0.1em;
    /* padding-right: 5px; */
    font-family: Georgia, sans-serif;
}

.end {
    float: right;
}

footer {
    position: absolute;
    width: 100%;
    height: 20%;
    left: 0;
    top: 330%;
    background-color: #212121;
}

footer p {
    margin-top: 3%;
    text-align: center;
    color: #ede3e7;
}