:root {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(../asserts/img/bright-squares.png);
    background-color: var(--bg_color);
    font-family: Georgia, serif;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    margin-bottom: 1em;
    font-size: 40px;
    font-weight: bold;
    color: var(--h1_color);
}

p {
    /* font-size: 20px; */
    font-size: clamp(0.8rem, 1rem + 0.2vw, 1.2rem);
    letter-spacing: 0.05em;
    line-height: 1.5em;
    margin-bottom: 1.5vh;
    color: var(--text_color);
    /* font-weight: bold; */
}

a {
    color: var(--a_color);
    text-decoration: none;
}

a:hover {
    color: var(--a_color_hover);
    text-decoration: underline;
}

hr {
    border: 0;
    border-top: 1px solid var(--h1_color);
}

#Top {
    position: relative;
    width: 100%;
    min-height: clamp(240px, 28vh, 420px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

#bg_img {
    position: absolute;
    inset: 0;
    background-image: var(--bg-img);
    background-size: 555px 280px;
    background-repeat: repeat;
    background-position: 0 9.5%;
    background-attachment: fixed;
    overflow: hidden;
}

#intro {
    position: absolute;
    display: flex;
    padding-top: 1em;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1em;
    bottom: 10%;
    right: 0%;
    width: max(250px, 50%);
    height: auto;
    text-align: center;
    align-items: center;
    background-color: #21212190;
}

#typing-text {
    position: relative;
    top: 0.50em;
    font-size: 2vh;
    color: #ede3e7;
}

#typing-text::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 1em;
    margin-bottom: -2px;
    margin-left: -2px;
    background-color: #ede3e7;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

#myPhoto {
    position: absolute;
    padding: 10px;
    margin: 3% 6%;
    width: clamp(120px, 12%, 12%);
    top: 30%;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

#myPhoto img {
    position: relative;
    width: 100%;
    display: block;
}

#sideBar {
    padding: 1%;
    position: fixed;
    top: 28%;
    right: 0;
    width: clamp(180px, 13%, 13%);
    /* height: 35%; */
    background-color: var(--nb_bg_color);
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

#sideBarContent {
    position: relative;
    text-align: left;
    align-items: center;
}

#sideBarContent p {
    color: var(--nb_logo_color);
}

#sideBarContent ul li a {
    color: var(--nb_marker_color);
}

#sideBarContent ul li a:hover {
    color: var(--nb_link_bg_color);
}

#sideBarContent li {
    list-style: none;
}

#contact a {
    position: relative;
    display: flex;
    float: left;
    margin: 1vh 1vh;
    width: 3.5vh;
    height: 3.5vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    color: var(--nb_link_bg_color);
}

#contact a .icon {
    font-size: calc(2.5vh + 1vw);
    pointer-events: none;
}

#contact a:hover {
    transform: scale(1.2);
    color: var(--nb_marker_color);
}

#contact span p {
    color: var(nb_marker_color);
}

#about {
    position: static;
    width: 70%;
    margin: 0 15% 0 15%;
    padding: 2% 10%;
    background-image: url(../asserts/img/bg_texture.png);
    background-color: var(--block_color);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    z-index: auto;
}

#goToEduExp {
    position: static;
    margin-bottom: 5%;
}

#eduExp {
    position: static;
    width: 70%;
    margin: 0 15% 0 15%;
    padding: 2% 10%;
    background-image: url(../asserts/img/bg_texture.png);
    background-color: var(--block_color);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

#goToDownload {
    position: static;
    margin-bottom: 5%;
}

#download {
    position: static;
    width: 70%;
    margin: 0 15% 0 15%;
    padding: 2% 10%;
    background-image: url(../asserts/img/bg_texture.png);
    background-color: var(--block_color);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.description {
    font-size: 1.6vh;
    line-height: 1.5em;
    /* text-indent: 4em; */
    margin-left: 2em;
    color: var(--text_color);
}

.dropcap:first-letter {
    float: left;
    font-size: 2em;
    letter-spacing: 0.1em;
    /* padding-right: 5px; */
    font-family: Georgia, sans-serif;
}

.end {
    float: right;
}

footer {
    position: static;
    width: 100%;
    margin-top: 0;
    padding: 3% 0;
    background-color: var(--nb_bg_color);
}

footer p {
    margin: 0;
    text-align: center;
    font-size: 130%;
    color: var(--nb_marker_color);
}