* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  transition: background-color 2s ease-in;
  background-color: #28434b;
  /* grid */
  background-size: 35px 35px;
  background-position: center center;
  background-image:
    linear-gradient(to right, #7a7a7a 1px, transparent 1px),
    linear-gradient(to bottom, #7a7a7a 1px, transparent 1px);

}

p {
  font-size: 3vh;
  line-height: 1.5em;
  color: rgb(255, 255, 255);
}

#links * {
  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutMe {
  height: 20vh;
  width: 20vh;
  top: 35%;
  left: 10%;
  position: absolute;
  background-color: #363a31;
  box-shadow: 0px 0px 30px rgba(200, 200, 200, 0.8);
}

#aboutMe:hover {
  transform: scale(1.03);
  transition: 0.2s ease-in;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
}

#github {
  height: 20vh;
  width: 20vh;
  top: 65%;
  left: 30%;
  position: absolute;
  background-color: #363a31;
  box-shadow: 0px 0px 30px rgba(200, 200, 200, 0.8);
}

#github:hover {
  transform: scale(1.03);
  transition: 0.2s ease-in;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
}

#gallery {
  height: 20vh;
  width: 20vh;
  top: 25%;
  left: 60%;
  position: absolute;
  background-color: #363a31;
  box-shadow: 0px 0px 30px rgba(200, 200, 200, 0.8);
}

#gallery:hover {
  transform: scale(1.03);
  transition: 0.2s ease-in;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
}