#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: var(--nb_bg_color);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

#logo a {
    position: relative;
    color: var(--nb_logo_color);
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
}

#navLinkList {
    position: relative;
    padding: 0px 15px;
    top: 0;
    height: 90%;
    /* width: 30%; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* overflow: hidden; */
    background: var(--nb_link_bg_color);
}

#navLinkList li {
    margin-left: 0px;
    width: 100%;
    height: 100%;
    list-style: none;
    z-index: 1;
}

#navLinkList li a {
    position: relative;
    display: flex;
    padding: 20px 20px;
    width: 72px;
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    z-index: 1;
}

#navLinkList li a .icon {
    position: relative;
    display: inline-block;
    /* line-height: 5px; */
    font-size: 30px;
    pointer-events: none;
    transition: 0.5s;
    opacity: 0.8;
    color: var(--nb_marker_color);
}

#navLinkList li.active a .icon {
    transform: translateY(-16px);
    color: var(--nb_bg_color);
    opacity: 1;
}

#navLinkList li a .text {
    position: absolute;
    text-align: center;
    font-weight: 400;
    font-size: 110%;
    letter-spacing: 0.05em;
    transition: 0.4s;
    color: var(--nb_marker_color);
    opacity: 0;
}

#navLinkList li.active a .text {
    transform: translateY(20px);
    opacity: 1;
}

#navBarMarker {
    position: absolute;
    bottom: 26px;
    /* left: -6px; */
    width: 58px;
    height: 58px;
    transition: 0.3s;
    border-radius: 20px;
    background: var(--nb_marker_color);
    border: var(--nb_bg_color) solid 5px;
}

#settingsWin {
    position: fixed;
    /* z-index: 9999; */
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

#setting-content {
    position: relative;
    width: 50%;
    height: 50%;
    padding: 2em;
    color: var(--text_color);
    background: var(--nb_link_bg_color);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

#closeSettings {
    position: absolute;
    right: -1%;
    top: -1%;
    width: 60px;
    height: 60px;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--nb_bg_color);
    background: var(--nb_marker_color);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#closeSettings:hover {
    transform: scale(1.1);
}

#themeSettings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#themeSettings h2 {
    margin-top: 0;
    margin-bottom: 3%;
    font-size: 30px;
    text-align: center;
    color: var(--nb_marker_color);
}

#themeSettings ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    width: 100%;
}

#themeSettings li div {
    height: calc(6vh + 3vw);
    width: calc(6vh + 3vw);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(1vh + .5vw);
    color: var(--nb_logo_color);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    background: var(--nb_bg_color);
}

#themeSettings li div:hover {
    transform: scale(1.1);
}