* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    z-index: 1;
    background-color: #212121;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

#logo a {
    position: relative;
    color: #f1e3d9;
    text-decoration: none;
    font-size: 45px;
    font-weight: bold;
}

ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-radius: 12px;
    background: #82111e;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

ul li {
    margin-left: 0px;
}

ul li a {
    position: relative;
    color: #f1e3d9;
    text-decoration: none;
    display: inline-block;
    padding: 20px 20px;
    z-index: 100;
}

ul li a ion-icon {
    font-size: 2em;
    pointer-events: none;
    opacity: 0.5;
    transition: 0.25s;
}

ul li.active a ion-icon {
    opacity: 1;
}

#marker {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    transition: 0.3s;
    backdrop-filter: blur(50px);
}

#marker::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    transform: translateX();
    width: 60px;
    height: 60px;
    border-radius: 12px;
    background: #894e54;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}