.bright-mode {
    --nb_bg_color: #fcf2d9;
    --nb_logo_color: #81021f;
    --nb_link_bg_color: #FFB74D;
    --nb_marker_color: #BF360C;

    --bg_color: #e8dfe0;
    --text_color: #212121;
    --h1_color: #81021f;
    --a_color: #EF6C00;
    --a_color_hover: #26C6DA;
    --block_color: #ddd6c1;
}

.dark-mode {
    --nb_bg_color: #161823;
    --nb_logo_color: #a393eb;
    --nb_link_bg_color: #5d606c;
    --nb_marker_color: #fbede0;

    --bg_color: #282a36;
    --text_color: #fbede0;
    --h1_color: #d3cbf4;
    --a_color: #7da0ca;
    --a_color_hover: #c1e8ff;
    --block_color: #242635;
}

.sunset-mode {
    --nb_bg_color: #fff5a5;
    --nb_logo_color: #ff6464;
    --nb_link_bg_color: #ffaa64;
    --nb_marker_color: #81021f;

    --bg_color: #daebe3;
    --text_color: #212121;
    --h1_color: #212121;
    --a_color: #cfc6c4;
    --a_color_hover: #99cdd8;
    --block_color: #fde8d3;
}

.cottonCandy-mode {
    --nb_bg_color: #aedefc;
    --nb_logo_color: #7e6bc4;
    --nb_link_bg_color: #fccde2;
    --nb_marker_color: #7e6bc4;

    --bg_color: #fce5f6;
    --text_color: #4a266a;
    --h1_color: #1251a3;
    --a_color: #7e6bc4;
    --a_color_hover: #fb929e;
    --block_color: #e7f8fb;
}