<!--CSS style for navbar-->
<link rel="stylesheet" href="..\css\_navbar_style.css">

<!--HTML for navbar-->
<nav id="navbar">
    <div id="logo">
        <a href="home.html">William Lu</a>
    </div>

    <ul id="navLinkList">
        <li><a href="home.html"><ion-icon name="home"></ion-icon></a></li>
        <li><a href="about.html"><ion-icon name="person-outline"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="book-outline"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="document-outline"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="headset-outline"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="moon-outline"></ion-icon></a></li>
        <div id="marker"></div>
    </ul>
</nav>

<!--JavaScript for ionicons-->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<!--JavaScript for navbar effects-->
<script>
    let marker = document.querySelector("#marker");
    let list = document.querySelectorAll("ul li");

    // add active class in hovered list item
    function activeLink() {
        list.forEach(item =>
            item.classList.remove("active"));
        this.classList.add("active");
    }

    list.forEach((item) =>
        item.addEventListener("mouseover", activeLink));

    function moveIndicator(e) {
        marker.style.left = e.offsetLeft + 'px';
        marker.style.width = e.offsetWidth + 'px';
        marker.style.zIndex = 1;
    }

    list.forEach(link => {
        link.addEventListener("classList", (e) => {
            moveIndicator(e.target);
        })
    })

    // const targetElement = document.querySelector('#navLinkList li');

    // const observer = new MutationObserver((mutations) => {
    //     mutations.forEach((mutation) => {
    //         if (mutation.type === 'attributes' && mutation.attributeName === 'class' && mutation.target.className === 'active') {
    //             console.log('Class changed to:', mutation.target.className);
    //             moveIndicator(mutation.target);
    //         }
    //     });
    // });

    // observer.observe(targetElement, {
    //     attributes: true,
    //     attributeFilter: ['class']
    // });
</script>